body{
    background-color: lightblue;
}
  
  .calculator {
    background-color: rgb(216, 209, 209);
    border: 2px solid black;
    border-radius: 5%;
    display: inline-block;
    margin-left: 20%;
    height: 45vh;
    width: 250px;
  }
  
  .screen {
    background-color: white;
    height: 7vh;
    width: 220px;
    margin-left: 15px;
    margin-top: 15px;
  }
  
  .num7,
  .num8,
  .num9,
  .positive,
  .num4,
  .num5,
  .num6,
  .negative,
  .num1,
  .num2,
  .num3,
  .cross,
  .delete,
  .num0,
  .equal,
  .slash {
    background-color: #dad7c7;
    height: 6vh;
    width: 50px;
    border: 1px solid black;
    border-radius: 15%;
    margin: 5px;
    line-height: 6vh;
    padding-left: 2.5vh;
    box-sizing: border-box;
    cursor: pointer;
    font-size: larger;
  }
  
  .num7:hover,
  .num8:hover,
  .num9:hover,
  .positive:hover,
  .num4:hover,
  .num5:hover,
  .num6:hover,
  .negative:hover,
  .num1:hover,
  .num2:hover,
  .num3:hover,
  .cross:hover,
  .delete:hover,
  .num0:hover,
  .equal:hover,
  .slash:hover{
    box-shadow: 2px 2px 4px black;
    font-size: x-large;
  }
  
  .delete {
    background-color: red;
    color: white;
    font-size: x-large;
  }
  
  .positive,
  .negative,
  .equal,
  .slash,
  .cross {
    background-color: black;
    color: white;
  }
  
  input {
    background-color: #dad7c7;
    height: 6vh;
    width: 50px;
    border: 1px solid black;
    margin: 4px;
    border-radius: 15%;
    box-sizing: border-box;
    cursor: pointer;
    font-size: larger;
  }
  
  #input-equal,
  #input-positive,
  #input-negative,
  #input-cross,
  #input-slash {
    background-color: black;
    color: white;
  }
  
  #input-c {
    background-color: red;
    color: white;
  }
  
  #input-screen {
    background-color: white;
    height: 7vh;
    width: 220px;
    margin-left: 15px;
    margin-top: 15px;
  }
  