body {
  background-color: lightblue;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: rgb(216, 209, 209);
  border: 2px solid black;
  border-radius: 5%;
  display: inline-block;
  height: 450px;
  width: 300px;
}

.screen {
  background-color: white;
  height: 70px;
  width: 270px;
  margin-left: 15px;
  margin-top: 15px;
  padding-left: 20px;
}
input {
  background-color: #dad7c7;
  height: 63px;
  width: 63px;
  border: 1px solid black;
  margin: 4px;
  border-radius: 15%;
  box-sizing: border-box;
  cursor: pointer;
  font-size: larger;
}

#input-equal,
#input-positive,
#input-negative,
#input-cross,
#input-slash {
  background-color: black;
  color: white;
}

#input-c {
  background-color: red;
  color: white;
}

#input-screen {
  background-color: white;
  height: 7vh;
  width: 220px;
  margin-left: 15px;
  margin-top: 15px;
}
